<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="sim_mode" default="false"/>

    <!-- TODO: update measurements -->
    <!-- These are in meters and kilograms -->
    <xacro:property name="chassis_length" value="0.4"/>
    <xacro:property name="chassis_width" value="0.35"/>
    <xacro:property name="chassis_height" value="0.25"/>
    <xacro:property name="chassis_mass" value="30"/>
    <xacro:property name="wheel_radius" value="0.0762"/>
    <xacro:property name="wheel_thickness" value="0.05"/>
    <xacro:property name="wheel_mass" value="0.5"/>
    <xacro:property name="wheel_offset_x" value="0.1"/>
    <xacro:property name="wheel_offset_y" value="0.175"/>
    <xacro:property name="wheel_offset_z" value="0"/>
    <xacro:property name="lidar_radius" value="0.035"/>
    <xacro:property name="lidar_thickness" value="0.02"/>
    <xacro:property name="lidar_mass" value="0.5"/>
    <xacro:property name="lidar_offset_x" value="0.3"/>
    <xacro:property name="lidar_offset_y" value="0"/>
    <xacro:property name="lidar_offset_z" value="0.25"/>

    <xacro:include filename="mrp_core.xacro"/>

    <xacro:include filename="ros2_control.xacro"/>

    <xacro:include filename="lidar.xacro"/>

</robot>