<launch>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
    </node>

    <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_server" output="screen">
        <param name="address" type="string" value="localhost" />
        <param name="port" type="int" value="8080" />
    </node>

    <node name="odometer_node" pkg="mrp_controller" type="odometer"/>
</launch>